<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}">
    </th:block>
</head>

<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card pad">
                <th:block th:include="~{/fragments/nav}">
                </th:block>
                <div class="card-header">Create Book</div>
                <div class="card-block">
                    <form role="form" enctype="multipart/form-data" th:object="${bookBindingModel}" th:method="post"
                          th:action="@{/books/add}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="bookTitle">Book Title</label>
                                <input th:field="*{bookTitle}" th:errorclass="bg-danger" id="bookTitle"
                                       type="text" class="form-control" name="bookTitle"
                                       value="bookTitle" autofocus>
                                <small th:each="err : ${#fields.errors('bookTitle')}" th:text="${err}"
                                       class="text-danger h5"></small>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="author">Author</label>
                                <select th:field="*{author}" th:errorclass="bg-danger" id="author"
                                        class="form-control" name="author">
                                    <option value="">Choose...</option>
                                    <option th:each="author : ${authors}"
                                            th:text="${#strings.capitalize(#strings.toLowerCase(author.name))}"
                                            th:value="${author.name}"></option>
                                </select>
                                <small th:each="err : ${#fields.errors('author')}" th:text="${err}"
                                       class="text-danger h5"></small>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="createAuthor" class="hidden-btn">Create Author</label>
                                <a th:href="@{/authors/add}" id="createAuthor"
                                   class="btn btn-large btn-primary">Create Author</a>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="isbn">ISBN</label>
                                <input th:field="*{isbn}" th:errorclass="bg-danger" id="isbn" type="text"
                                       class="form-control" name="isbn" value="isbn">
                                <small th:each="err : ${#fields.errors('isbn')}" th:text="${err}"
                                       class="text-danger h5"></small>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="genre">Genre</label>
                                <select th:field="*{genre}" th:errorclass="bg-danger"
                                        class="form-control" id="genre" name="genre">
                                    <option value="">Choose...</option>
                                    <option th:each="genre : ${T(project.model.enums.GenreName).values()}"
                                            th:text="${#strings.capitalize(#strings.toLowerCase(genre))}"
                                            th:value="${genre}"></option>
                                </select>
                                <small th:each="err : ${#fields.errors('genre')}" th:text="${err}"
                                       class="text-danger h5"></small>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="pageCount">Number of pages</label>
                                <input th:field="*{pageCount}" th:errorclass="bg-danger" id="pageCount"
                                       type="text" class="form-control" name="pageCount" value="pageCount">
                                <small th:each="err : ${#fields.errors('pageCount')}" th:text="${err}"
                                       class="text-danger h5"></small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="issueDate">Issue Date</label>
                                <input th:field="*{issueDate}" th:errorclass="bg-danger" id="issueDate"
                                       type="date" class="form-control" name="issueDate" value="issueDate">
                                <small th:if="${errorData}" class="text-danger h5">Enter Date in the past!</small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="summary">Summary</label>
                                <textarea th:field="*{summary}" th:errorclass="bg-danger" id="summary" rows="2"
                                          class="form-control" style="resize: vertical" name="summary"
                                          placeholder="Write a summary" value="resume"></textarea>
                                <small th:each="err : ${#fields.errors('summary')}" th:text="${err}"
                                       class="text-danger h5"></small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <button class="btn btn-secondary fileContainer" aria-hidden="true">
                                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                                    <input class="myFile" id="myInput" type="file" name="image"/>
                                    <span id="result">Upload...</span>
                                </button>
                                <small th:each="err : ${#fields.errors('image')}" th:text="${err}"
                                       path="fileError" class="text-danger h5"></small>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-large btn-primary right">
                                    Submit
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="~{/fragments/js-files}">
</th:block>
<script>
    document.getElementById('result').textContent = 'Upload...';

    document.querySelector('.fileContainer').addEventListener('click', function (e) {
        document.querySelector('.myFile').addEventListener('change', function (e) {
            document.getElementById('result').textContent = document.getElementById("myInput").files[0].name;
        })
    });
</script>
</body>