<!--<th:block xmlns:th="http://www.thymeleaf.org">-->
<!--    <div class="thumbnail div-img">-->
<!--        <img th:src="*{book.image}" alt="Book" width="100%">-->
<!--        <div class="title">-->
<!--            <p th:text="*{book.bookTitle}">book_title</p>-->
<!--        </div>-->
<!--        <div class="author">-->
<!--            <p th:text="*{book.author.name}">author</p>-->
<!--        </div>-->
<!--        <div class="genre">-->
<!--            <p th:text="*{book.genre}">genre</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</th:block>-->