<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="panel-body">
        <!-- Branding Image -->
        <div class="col-md-2">
            <img th:src="@{/img/logo.png}" alt="Logo"/>
        </div>
        <div class="col-md-4 text">
            My Online Library
        </div>
        <div class="col-md-6 text">

            <!-- Authentication Links -->
            <div sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/allBooks}" class="btn btn-large btn-primary">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    All books
                </a>
                <a th:href="@{users/login}" class="btn btn-large btn-primary ">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Login
                </a>
                <a th:href="@{users/register}" class="btn btn-large btn-primary">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Register
                </a>
            </div>
            <div class="dropdown">
                <button class="btn btn-large btn-primary dropdown-toggle" type="button"
                        data-toggle="dropdown">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Books
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu1">
                    <li>
                        <a th:href="@{/myBooks}" class="btn btn-large btn-primary">
                            My books
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/allBooks}" class="btn btn-large btn-primary">
                            All books
                        </a>
                    </li>
                </ul>
            </div>
            <div class="btn btn-large hidden-btn"></div>
            <div class="dropdown">
                <button class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown">

                    <!--                    <span th:text="${#authentication.getFirstName()}" th:remove="tag">user</span>-->
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu1">
                    <li>
                        <a th:href="@{/logout}" class="btn btn-large btn-primary"
                           onclick="preventDefault();
                                        	document.getElementById('logout-form').submit();">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</th:block>