.dropdown {
    display: inline-block;
    width: 170px;
}

.dropdown-menu1 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
}

.dropdown-menu1 a, .dropdown-menu > form > button {
    padding: 5px 0;
    margin: 5px 0;
    color: white;
}

.dropdown-menu1 a:hover, .dropdown-menu > form > button:hover {
    background-color: #006699;
    color: white;
}

.dropdown-item {
    padding: 0;
}

.hidden-btn {
    visibility: hidden;
}

.title {
    margin-top: 5px;
    font-weight: bold;
    color: #009966;
    line-height: 1.3em;
}

label {
    margin: 10px;
    padding-top: 10px;
    font-weight: bold;
    line-height: 1.3em;
    color: #006699;
    font-style: italic;
    text-align: right;
}

.genre {
    font-size: 0.8em;
    font-weight: bold;
}