@CHARSET "UTF-8";

html, body {
    background: #333 url("../img/library.jpg");
    color: #000;
    font-family: 'Arial', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.container #first {
    padding-top: 5em;
}

.pad {
    margin: 1em;
}

.text {
    font-weight: bold;
    font-size: 2.8em;
    line-height: 1;
}

.card > div, div.form-group {
    padding: 10px 20px;
}

.btn-large {
    background-color: #006699;
    width: 170px;
    font-size: 20px;
}

.right {
    float: right;
}

.alert {
    text-align: center;
}

img {
    border-radius: 10px;
    width: 100px;
}

div.form-group > div:FIRST-CHILD {
    padding-bottom: 10px;
}

.form-control, .form-control:required, div.form-group textarea {
    background-color: #eeeeee;
    color: #009966;
    font-size: 1.5em;
}

input[type=date] {
    background-color: #eeeeee;
    font-size: 1.5em;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    color: #006699;
    width: 190px;
    font-size: 20px;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.a-decor:link, .a-decor:visited {
    text-decoration: none;
    color: #000;
}

.card-header {
    text-align: center;
    font-size: 1.5em;
    color: #006699;
}

.thumbnail {
    margin: 0;
    background: #eee;
    box-sizing: border-box;
    height: 320px;
}

.imglink img {
    border: medium none;
    display: inline-block;
    max-height: 170px;
    max-width: 130px;
    vertical-align: middle;
    width: 100%;
}

.div-img {
    font-size: 1.3em;
    text-align: center;
}

footer {
    background-color: #eeeeee;
    color: #009966;
}
